@media (max-width: 450px) {
	.cabecalho{display: flex ;}
	.logo {display: flex;}

    body {
        font-size: 14px;
        padding: 10px;
    }

    header, footer {
        text-align: center;
        padding: 15px;
    }

    .nav-list {
        display: inline-block; 
    }

    .container {
        width: 100%;
        padding: 0 10px;
    }

    .sidebar {
        display: none; 
    }

    .content {
        width: 100%;
        padding: 10px 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}