

body{
    height: 1500px;
    background-color: rgb(0, 0, 0);
}

a {
    color: aliceblue;
    text-decoration: none;
}

p{
    color: aliceblue;
    text-shadow: 10px 10px 8px rgba(31, 30, 30, 0.595);
}
a:hover {
    opacity: 0.3;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(12, 101, 255, 0.753);
  margin-top: 2vh;
    height: 8vh;
    width: 100%;

}
 

/* dar um atenção na fonte do logo não esta indo certo */

@font-face {
    font-family: 'MinhaFonte';
    src: url('./fontes/') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.logo {
    font-family: fantasy, Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
}


main {
    background-color: rgb(0, 0, 0);
background-size:cover;
background-position: center;
background-repeat: no-repeat;
height: 100%;

}
 .nav-list {
    list-style: none;
    display: flex;
 }

 .nav-list li {
       letter-spacing: 3px;
    margin-left: 32px;
 }

 .mobile-menu {
    display: none;
    cursor: pointer;
 }

 .mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
 }

 @media (max-width: 999px){
body {
    overflow-x: hidden;
}
 .nav-list {
position: absolute;
top: 8vh;
right: 0;
width: 50vw;
height: 92vh;
background-color:rgba(64, 64, 65, 0.879);
flex-direction: column;
align-items: center;
justify-content: space-around;
transform: translateX(100%);
 }
}

footer{
     background-color: rgba(12, 101, 255, 0.753);
    height: 4vh;
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    bottom: 0;
    left: 0;
}



h1{
    color: aliceblue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
align-content: center;
    align-items: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* nao eswuecer de Ajustar conforme necessário */
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

main.banner{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}    

/* 
-------------- parte stories videos curtos --------------------- */

.storie{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(250, 249, 249, 0.055);
    gap: 20px;
}

.caixa-storie:hover{
    transform: scale(1.1);
    transition: 0.5s;
 }

 .storie, .storie-2, .storie-3, .storie-4{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(250, 249, 249, 0.184);
 }

 .storie:hover, .storie-2:hover, .storie-3:hover, .storie-4:hover{
    transform: scale(1.1);
    transition: 0.5s;
 }
/* 
---------- parte videos ------------- */
h2.t-video-em-alta{
    color: aliceblue;
    font-size: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
    margin-bottom: 5%;
}

.video-vicios{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65%;
    margin-top: 5%;
    border-radius: 20px;
}
 .video-vicios:hover{
    transform: scale(1.1);
    transition: 0.5s;
 }

 .video-244{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65%;
    margin-top: 2%;
    border-radius: 20px;
 }
 

 .video-244:hover{
    transform: scale(1.1);
    transition: 0.5s;
 }

 .video-hummer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65%;
    margin-top: 2%;
    border-radius: 20px;
 }

 .video-hummer:hover{
    transform: scale(1.1);
    transition: 0.5s;
 }


 .video-backs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65%;
    margin-top: 2%;
    border-radius: 20px;
 }

 .video-backs:hover{
    transform: scale(1.1);
    transition: 0.5s;
 }

 .caixa-foto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50%;
    margin-top: 0%;
    border-radius: 10px;
 }


 .foto-trap{
    border-radius: 12px;
    transition: 0.5s;
    margin-top: 10px;
 }
 .foto-trap:hover{
    transform: scale(1.1);
    transition: 0.5s;
 }

 /* -------------- parte loja --------------------- */ 

 .cabecalho {
	background-color: #f5f4f7;
	display: flex;
	justify-content: center;
	padding: 10px;
	margin-bottom: 60px;
}

.container {

	max-width: 1170px;
	margin: 0 auto;
}

.container .produtos {
	color: #0a0a0a;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 32px;
	line-height: 32px;
	letter-spacing: 2px;
}

.container .filtros {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 32px;
}

.container .categorias-cartas,
.container .preco-cartas {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.container label {
	letter-spacing: 2px;
	font-weight: 500;
	color: #f8f7f7;
}

.container .categorias-cartas select,
.container .preco-cartas input {
	padding: 16px 13px;
	border-radius: 2px;
	border: 2px solid #f7f7f7;
	background-color: #f3eeee;
	color: #111010;
	height: 52px;
}

.container select:focus,
.container input:focus,
.container select:focus-visible,
.container input:focus-visible {
	outline: none;
}

.container select.categoria {
	appearance: none;
	background: url(../imagem/seta-para-baixo.png) 97% center no-repeat;
}

.container .filtros .btn-filtrar {
	border: none;
	background-color: #0e0224;
	color: #f3f0f0;
	padding: 16px 32px;
	font-weight: 500;
	align-self: end;
	width: 177px;
	height: 52px;
	cursor: pointer;
	letter-spacing: 2px;
	transition: 0.3s;
}

.container .filtros .btn-filtrar:hover {
	background-color: #f5f5f5;
}

.container .cartas {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	margin-top: 32px;
	
}

.container .cartas .carta {
	max-width: 365px;
	background-color: #272727;
	color: #0e0027;
	border-radius: 20px;
	box-shadow: 0 6px 12px rgba(209, 207, 207, 0.2);
	
}

.container .carta img {
	width: 100%;
	padding: 20px;
	
}

.container .carta .informacoes {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #0c0c0c;
	padding: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.container .carta .informacoes .nome-personagem {
	font-size: 24px;
	font-weight: 700;
	color: #f5f5f5;
}

.container .carta .informacoes .categoria {
	color: #686666;
	font-weight: 700;
}

.container .carta .informacoes .preco {
	font-size: 24px;
	letter-spacing: 2px;
	font-weight: 700;
	color: #4d8e5c;
}

.container .carta .informacoes .btn-comprar {
	color: #ededed;
	background-color: #6528d3;
	padding: 16px;
	border-radius: 4px;
	letter-spacing: 2px;
	transition: 0.3s;
	text-align: center;
	text-decoration: none;
}

.container .carta .informacoes .btn-comprar:hover {
	background-color: #020202;
}

.rodape {
	background-color: #0f0233;
	display: flex;
	justify-content: center;
	color: #fdfbfb;
	padding: 20px;
	margin-top: 60px;
}

.esconder {
	display: none;
}

.mostrar {
	display: block;
}
.botao-do-whatsapp {
	padding: 10px;
	margin-top: 10px;
	display: block;
	width: 10%;
	height: 9px;
}
.logo{
	display: flex;
	justify-content: center;
	width: 428px;
	height: 120px;
	padding: 20px;
	margin-top: 10px;
}
/* usado para fazer a movimentaao dos botoes */
.carta:hover {
    transform: translateX(10px);
    transition: all 0.3s ease-in-out;
}

.fa-whatsapp {
    color:rgb(32, 131, 2);
    font-size: 80px;
	display: inline;
	position: fixed;
	left: 10px;
}

.fa-whatsapp:hover {
    color: rgb(82, 237, 5);
}

@media (max-width: 450px) {
	.cabecalho{display: inline-block ;}
	.logo {display: flex;}
}