

body{
    height: 1500px;
    background-color: rgb(0, 0, 0);
}

a {
    color: aliceblue;
    text-decoration: none;
}

p{
    color: aliceblue;
    text-shadow: 10px 10px 8px rgba(31, 30, 30, 0.595);
}
a:hover {
    opacity: 0.3;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(12, 101, 255, 0.753);
    height: 8vh;
    width: 100%;

}
 

/* dar um atenção na fonte do logo não esta indo certo */

@font-face {
    font-family: 'MinhaFonte';
    src: url('./fontes/') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.logo {
    font-family: fantasy, Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
}


main {
    background-color: rgb(0, 0, 0);
background-size:cover;
background-position: center;
background-repeat: no-repeat;
height: 100%;

}
 .nav-list {
    list-style: none;
    display: flex;
 }

 .nav-list li {
       letter-spacing: 3px;
    margin-left: 32px;
 }

 .mobile-menu {
    display: none;
    cursor: pointer;
 }

 .mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
 }

 @media (max-width: 999px){
body {
    overflow-x: hidden;
}
 .nav-list {
position: absolute;
top: 8vh;
right: 0;
width: 50vw;
height: 92vh;
background-color:rgba(64, 64, 65, 0.879);
flex-direction: column;
align-items: center;
justify-content: space-around;
transform: translateX(100%);
 }
}

footer{
     background-color: rgba(12, 101, 255, 0.753);
    height: 8vh;
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    bottom: 0;
    left: 0;
}



h1{
    color: aliceblue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
align-content: center;
    align-items: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* nao eswuecer de Ajustar conforme necessário */
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

main.banner{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}    

/* 
-------------- parte stories videos curtos --------------------- */

.storie{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(250, 249, 249, 0.055);
    gap: 20px;
}

.caixa-storie:hover{
    transform: scale(1.1);
    transition: 0.5s;
 }

 .storie, .storie-2, .storie-3, .storie-4{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(250, 249, 249, 0.184);
 }

 .storie:hover, .storie-2:hover, .storie-3:hover, .storie-4:hover{
    transform: scale(1.1);
    transition: 0.5s;
 }
/* 
---------- parte videos ------------- */
h2.t-video-em-alta{
    color: aliceblue;
    font-size: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
    margin-bottom: 5%;
}

.video-vicios{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65%;
    margin-top: 5%;
    border-radius: 20px;
    /* box-shadow: 10px 10px 8px rgba(31, 30, 30, 0.595);
 */}

 .video-vicios:hover{
    transform: scale(1.1);
    transition: 0.5s;
 }

 .video-244{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65%;
    margin-top: 2%;
    border-radius: 20px;
    /* box-shadow: 10px 10px 8px rgba(31, 30, 30, 0.595);
 */}

 .video-244:hover{
    transform: scale(1.1);
    transition: 0.5s;
 }


 .caixa-foto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50%;
    margin-top: 0%;
    border-radius: 10px;
 }


 .foto-trap{
    border-radius: 12px;
    transition: 0.5s;
    margin-top: 10px;
 }
 .foto-trap:hover{
    transform: scale(1.1);
    transition: 0.5s;
 }